@model List<Model.EF.Menu>
<div class="account_desc">
    @{
        var session = (OnlineShop2.Common.UserLogin)Session[OnlineShop2.Common.CommonConstants.USER_SESSION];
    }
    @if (session == null)
    {
        <ul>
            @foreach (var menu in Model)
            {
                <li><a href="@menu.Link" target="@menu.Target" title="@menu.Text">@menu.Text</a></li>
            }
        </ul>
    }
    else
    {
        <ul>
            <li>
                Hello @session.UserName @Html.ActionLink("Logout", "Logout", "User")
            </li>
        </ul>
    }
</div>
